/* General typography */

body {
    font-family: Arimo, sans-serif;
    margin: 8px 7.5vw;
    background: linear-gradient(to bottom right, #e6f0ff, #ffe6ff);
  }
  
  h1 {
    font-size: 1.1rem;
    margin: 0;
  }
  
  h4 {
    font-size: 1rem;
    margin: 0;
  }
  
  h5 {
    font-size: 0.9rem;
    font-weight: lighter;
  }
  
  a {
    text-decoration: none;
    color: inherit;
  }
  
  a:hover {
    text-decoration: underline;
  }
  
  /* Site layout */
  
  .container {
    display: flex;
    flex-direction: column;
    align-self: center;
    background-color: #f6f6ef;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
  }
  
  .hidden {
    display: none;
  }
  
  /* Forms */
  
  form {
    display: flex;
    flex-direction: column;
    margin: 8px 18px 0;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
  }
  
  form > * {
    margin: 10px 0;
  }
  
  form label {
    font-size: 0.9rem;
    font-weight: 700;
    display: inline-block;
    width: 3.5rem;
    text-align: right;
    margin-right: 5px;
  }
  
  form input {
    font-size: 0.8rem;
    border: none;
    border-radius: 2px;
    padding: 8px;
    width: 300px;
    box-shadow: 0 0 3px 1px lightgray;
  }
  
  form input:focus {
    outline: none;
    box-shadow: 0 0 4px 1px darkgray;
  }
  
  form > button {
    width: auto;
    align-self: center;
    padding: 10px 20px;
    background-color: #ff6600;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.15s;
  }
  
  form > button:hover {
    background-color: #e65c00;
  }
  
  form > hr {
    margin: 0;
    border: 1px solid lightgray;
  }
  
  .login-input label {
    width: 70px;
  }
  
  /* responsive queries for tightening things up for mobile. */
  
  @media screen and (max-width: 576px) {
    body {
      margin: 0;
    }
  }
  
  @media screen and (min-width: 992px) {
    body {
      max-width: 900px;
      margin: 8px auto;
    }
  }
  